body {
	width: 90%;
	margin: 0 auto;
	background-image: url('../images/mailbox.jpg');
	opacity: .7;
	background-attachment: fixed;
}

#counting {
	color: white;
	margin-bottom: 1em;
}

#increment {
    color: red;
}

body.page {
	
	font-family: Helvetica;
}

h1 {
	background-color: black;
	padding: .25em;
	color: white;
	font-size: 2.5em;
}

.counter {
	padding-bottom: 1em;
	font-weight: 900;
	font-style: italic;
	color: red;
}

div.email {
	font-size: .80em;
	padding-bottom: 2em;
	border: 1.5px solid black;
	border-left: 1.5em;
	border-right: 1.5em;
}

div.body {
	display: none;
	
}

div.body.display {
	display: block;
	background-color: white;
	margin-top: .5em;
	font-weight: 600;	
}

.sender {
	font-size: 1.25em;
	font-weight: 700;
	padding-bottom: .5em;
	background-color: white;
}

.subject {
	font-weight: 500;
	padding-bottom: .5em;
	background-color: white;
	text-decoration: underline;
}

.date {
	background-color: white;
}

